.App {
  padding: 6rem;
  font-size: 0.8em;
}

.content {
  padding: 2em 0;
}

.content-top {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
}

.title {
  font-size: 1em;
  color: #3F3E3E;
}

.template-quantity {
  color: #989898;
}

.template-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 3rem;
  margin: auto;
  justify-content: space-around;
}

#empty-array {
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
  padding: 1em;
}

@media screen and (max-width: 450px) {
  .App {
    padding: 2em;
  }
}